body {
  font-family: $font-stack;
  font-size: 12px;
  color: $text-color;
  overflow-x: hidden;
  padding-top: 50px;
  background-color: $gray-color;
}

html,body {
  height: 100%;
}

*:focus {
  outline: 0 !important;
}

body.full-height-layout #wrapper,
body.full-height-layout #page-wrapper {
  height: 100%;
}

a {
  cursor: pointer;
}

a:hover, a:focus {
  text-decoration: none;
}

.block {
  display: block;
}

.clear {
  display: block;
  overflow: hidden;
}

#page-wrapper {
  min-height: auto;
}

@media(max-width:767px){
  .text-left-xs{ text-align: left !important; }
  .text-center-xs{ text-align: center !important; }
  .text-right-xs{ text-align: right !important; }
}
@media(max-width:991px){
  .text-left-sm{ text-align: left !important; }
  .text-center-sm{ text-align: center !important; }
  .text-right-sm{ text-align: right !important; }
}
@media(max-width:1199px){
  .text-left-md{ text-align: left !important; }
  .text-center-md{ text-align: center !important; }
  .text-right-md{ text-align: right !important; }
}
@media(min-width:1200px){
  .text-left-lg{ text-align: left !important; }
  .text-center-lg{ text-align: center !important; }
  .text-right-lg{ text-align: right !important; }
}

.border-bottom {
  border-bottom: 1px solid $border-color !important;
}
.border-top {
  border-top: 1px solid $border-color !important;
}
.border-left {
  border-left: 1px solid $border-color !important;
}
.border-right {
  border-right: 1px solid $border-color !important;
}

.font-bold {
  font-weight: 600;
}

.font-noraml {
  font-weight: 400;
}

.text-uppercase {
  text-transform: uppercase;
}

hr,
hr.solid {
  border-bottom: 1px solid $border-color;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid !important;
  margin-top: 15px;
  margin-bottom: 15px;
}
hr.dashed {
  border-top: 1px dashed $border-color;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}

p.lead{
  font-size: 18px;
}

video {
  width: 100%    !important;
  height: auto   !important;
}


/* MODAL */
.modal-content {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  outline: 0 none;
  position: relative;
}

.modal-dialog {
  z-index: 2200;
}

.modal-body {
  padding: 20px 30px 30px 30px;
}


.inmodal .modal-body {
  background: #f8fafb;
}

.inmodal .modal-header {
  padding: 30px 15px;
  text-align: center;
}

.animated.modal.fade .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.inmodal .modal-title {
  font-size: 26px;
}

.inmodal .modal-icon {
  font-size: 84px;
  color: #e2e3e3;
}

.modal-footer {
  margin-top: 0;
}

/* Page Content Wrapper */
.page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;

  .container,
  .container-fluid{
    padding: 0;
  }

}

@media(min-width:768px){
  .page-content-wrapper {
    padding: 20px;
    position: relative;
  }
}

ul.unstyled,
ol.unstyled {
  list-style: none outside none;
  margin-left: 0;
}

/* FOOTER */
.footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid $border-color;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  right: 0;
}

.footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding:10px 20px;
  background: white;
  border-top: 1px solid $border-color;
  margin-left: $sidebar-width;
}

.footer.fixed.full {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding:10px 20px;
  background: white;
  border-top: 1px solid $border-color;
}


/* TABLES */
.table-bordered {
  border: 1px solid #EBEBEB;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  background-color: #F5F5F6;
  border-bottom-width: 1px;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #e7e7e7;
}

.table > thead > tr > th {
  border-bottom: 1px solid #DDDDDD;
  vertical-align: bottom;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid $border-color;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

/* LIST GROUPS */
.list-group{
  margin-bottom: 0;
}


/* PANELS */
.page-heading {
  border-top: 0;
  padding: 0px 10px 20px 10px;
}

.panel-heading h1, .panel-heading h2 {
  margin-bottom: 5px;
}

.panel.blank-panel {
  background: none;
  margin: 0;
}

.blank-panel .panel-heading {
  padding-bottom: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none;
  border-color: #DDDDDD #DDDDDD rgba(0, 0, 0, 0);
  border-bottom: $gray-color;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #555555;
  cursor: default;
}

.nav.nav-tabs li {
  background: none;
  border: none;
}

.nav-tabs > li > a {
  color: #A7B1C2;
  font-weight: 600;
  padding: 10px 20px 10px 25px;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background-color: #e6e6e6;
  color: $text-color;
}

.link-block {
  font-size: 12px;
  padding: 10px;
}

.nav.navbar-top-links .link-block a {
  font-size: 12px;
}

.link-block a {
  font-size: 10px;
  color: inherit;
}

img.circle-border {
  border: 6px solid #FFFFFF;
  border-radius: 50%;
}

.branding {
  float: left;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 20px;
  text-align: center;
  background-color: $primary-color;
}

.breadcrumb {
  // background-color: #ffffff;
  padding: 0;
  margin-bottom: 0;
}

.breadcrumb > li a {
  // color: inherit;
}

.breadcrumb > .active {
  color: inherit;
}

code {
  background-color: #F9F2F4;
  border-radius: 4px;
  color: #ca4440;
  font-size: 90%;
  padding: 2px 4px;
  white-space: nowrap;
}

/* BACKGROUNDS */
.gray-bg {
  background-color: $gray-color;
}

.white-bg {
  background-color: #ffffff;
}

.primary-bg {
  background-color: $primary-color;
  color: #ffffff;
}

.success-bg {
  background-color: $success-color;
  color: #ffffff;
}

.info-bg {
  background-color: $info-color;
  color: #ffffff;
}

.warning-bg {
  background-color: $warning-color;
  color: #ffffff;
}

.danger-bg {
  background-color: $danger-color;
  color: #ffffff;
}

.black-bg {
  background-color: #262626;
}

.panel-primary {
  border-color: $primary-color;
}

.panel-primary > .panel-heading {
  background-color: $primary-color;
  border-color: $primary-color;
}

.panel-success {
  border-color: $success-color;
}

.panel-success > .panel-heading {
  background-color: $success-color;
  border-color: $success-color;
  color: #ffffff;
}

.panel-info {
  border-color: $info-color;
}

.panel-info > .panel-heading {
  background-color: $info-color;
  border-color: $info-color;
  color: #ffffff;
}

.panel-warning {
  border-color: $warning-color;
}

.panel-warning > .panel-heading {
  background-color: $warning-color;
  border-color: $warning-color;
  color: #ffffff;
}

.panel-danger {
  border-color: $danger-color;
}

.panel-danger > .panel-heading {
  background-color: $danger-color;
  border-color: $danger-color;
  color: #ffffff;
}

.progress-bar {
  background-color: $primary-color;
}

.progress-small, .progress-small .progress-bar {
  height: 10px;
}

.progress-small, .progress-mini {
  margin-top: 5px;
}

.progress-mini, .progress-mini .progress-bar {
  height: 5px;
  margin-bottom: 0px;
}

.progress-bar-navy-light {
  background-color: #3dc7ab;
}

.progress-bar-success {
  background-color: $success-color;
}

.progress-bar-info {
  background-color: $info-color;
}

.progress-bar-warning {
  background-color: $warning-color;
}

.progress-bar-danger {
  background-color: $danger-color;
}

.panel-title {
  font-size: inherit;
}

.jumbotron {
  border-radius: 6px;
  padding: 40px;
}

.jumbotron h1 {
  margin-top: 0;
}

/* COLORS */

.text-navy {
  color: $primary-color;
}

.text-primary {
  color: $primary-color;
}

.text-success {
  color: $success-color;
}

.text-info {
  color: $info-color;
}

.text-warning {
  color: $warning-color;
}

.text-danger {
  color: $danger-color;
}

.text-muted {
  color: #888888;
}

.text-white {
  color: #ffffff;
}

.bg-primary {
  background-color: #676a6c;
}

.bg-success {
  background-color: lighten( $success-color, 40% );
}

.bg-info {
  background-color: lighten( $info-color, 35% );
}

.bg-warning {
  background-color: lighten( $warning-color, 25% );
}

.bg-danger {
  background-color: lighten( $danger-color, 25% );
}

.img-shadow {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(145,145,145,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(145,145,145,1);
  box-shadow: 0px 0px 3px 0px rgba(145,145,145,1);
}


// Bootstrap issue in 3.3.0 with modal https://github.com/twbs/bootstrap/issues/9855
// Fix
body.modal-open { padding-right:inherit !important; }

// Bootstrap issue in 3.3.0 with modal https://github.com/twbs/bootstrap/issues/9855
// Fix
body.modal-open { padding-right:inherit !important; }

// Fix for modal backdrop with animate.css
body.modal-open .animated { animation-fill-mode: initial; }

/* Show profile dropdown on fixed sidebar */
body.mini-navbar.fixed-sidebar .profile-element, .block {
  display: block !important;
}

body.mini-navbar.fixed-sidebar .nav-header {
  padding: 33px 25px;
}

body.mini-navbar.fixed-sidebar .logo-element{
  display: none;
}
