/* ------------------------------------------------
---------------------------------------------------
  CARDS
---------------------------------------------------
------------------------------------------------ */
$card-radius: $btn-border-radius $btn-border-radius 0 0;

.card{
  padding: 10px;
  margin: 20px 0;
  background-color: #FFFFFF;
  border-bottom: 2px solid darken($gray-color, 10%);
  -webkit-border-radius: $card-radius;
  -moz-border-radius: $card-radius;
  border-radius: $card-radius;

  &.warning {
    border-left: 4px solid #f0ad4e;
  }

  &.success {
    border-left: 4px solid #1AB394;
  }

  &.danger {
    border-left: 4px solid #d9534f;
    background-color: rgba(217, 83, 79, .1);
  }

  &.default {
    border-left: 4px solid gray;
  }

  &:first-child{
    margin-top: 0;
  }

  .card-icon {
      float: left;
      padding: 3px 5px 0 0;
  }
  .card-title {
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
  }

  .card-subtitle {
    font-size: 12px;
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  .card-status, .card-date {
    text-align: right;
    text-transform: uppercase;
  }
}
