/* ------------------------------------------------
---------------------------------------------------
  CARDS
---------------------------------------------------
------------------------------------------------ */
$card-radius: $btn-border-radius $btn-border-radius 0 0;

.card{
  padding: 10px;
  margin: 20px 0;
  background-color: #FFFFFF;
  border-bottom: 2px solid darken($gray-color, 10%);
  -webkit-border-radius: $card-radius;
  -moz-border-radius: $card-radius;
  border-radius: $card-radius;
  
  &:first-child{
    margin-top: 0;
  }
}
