@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600);
// Font
$font-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Basic Colors
$default-color: #C2C2C2;  // Default color
$primary-color: #0081C6;  // Primary color
$info-color: #23C6C8;     // Info color
$success-color: #1AB394;  // Success color
$warning-color: #F8AC59;  // Warrning color
$danger-color: #ED5565;   // Danger color

// Hover Colors
$row-hover: #F3FBFF; // Light Blue

// Various colors
$text-color: #676A6C;
$gray-color: #F3F3F4;
$light-gray: #FAFAFA;
$label-badget-color: #5E5E5E;

// Spiner color and margin
$spin-color: $primary-color;
$spin-margin: 0 auto;

// Border Color
$border-color: #E7E7E7;   // IBox border

//Sidebar width
$sidebar-width: 220px;

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #2F4050;
$nav-profil-pattern: no-repeat;
$nav-text-color: #A7B1C2;

// Workflow Avatar Status Colors
$approved: #3db535;
$pending: darken(#facd19, 10%);
$rejected: #d1111a;
