/*
 *
 *   ANDROMEDA: ProcessMAP Base Theme
 *   version 1.0
 *
*/

// Google Fonts.
// @import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");


// Variables.
@import "variables";

// Base.
@import "base";

// Flexbox Grid.
// @import "flexgrid";

// Typography.
@import "typography";

// Buttons.
@import "buttons";

// Navigation.
@import "navigation";

// Panels.
@import "panels";

// Cards.
@import "cards";

// Documentation and Exmaple.
// @import "docs";

// Icon Grid.
// @import "icon-grid";

// Icon Grid.
@import "doc-mgt/styles";


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  TEMPORARY!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
#doc_mgt-left_column,
#doc_mgt-right_column{
  -webkit-transition: width .25s ease-out;
  -moz-transition: width .25s ease-out;
  transition: width .25s ease-out;
}
